body {
	--color-primary: #ff00ff;
	--color-secondary: #00ffff;
	--color-tertiary: #ffff00;
	--color-header: #000958;
	--color-blackvariant: #1d1e20;
	overflow-x: hidden !important;
	width: 100%;
	margin: 0;
	font-family: 'Poppins', 'Ubuntu', 'Playfair Display', serif;
}

p {
	font-size: 14px;
	line-height: 26px;
	margin-bottom: 0px;
}

img {
	max-width: 100%;
	height: auto;
}

iframe {
	border: 0;
}

::-moz-selection {
	background: #4a90e2;
	color: #fff !important;
}

::-webkit-selection {
	background: #4a90e2;
	color: #fff !important;
}

::selection {
	background: #4a90e2;
	color: #fff !important;
}

.grey-bg {
	background: #f6f9ff;
}
.yellow-bg {
	background: #fdfd96;
}

/*------------------------------------------------------------------
[Typography]
*/

/* a {
	color: #4a90e2;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	text-decoration: none;
}

a:hover,
a:focus {
	outline: 0;
	text-decoration: none;
	color: #2275d7;
} */

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	line-height: 1.2;
	font-weight: 700;
	color: #1c1f25;
}

h1,
.h1 {
	font-size: 40px;
	line-height: 50px;
}

h2,
.h2 {
	font-size: 32px;
	line-height: 42px;
}

h3,
.h3 {
	font-size: 24px;
	line-height: 38px;
}

h4,
.h4 {
	font-size: 20px;
	line-height: 26px;
}

h5,
.h5 {
	font-weight: 600;
	font-size: 16px;
	line-height: 18px;
}

h6,
.h6 {
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
}

ul,
ol {
	padding-left: 0;
	list-style: none;
}

ul > li,
ol > li {
	margin: 0 0 5px;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
